* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    outline: none;
    background: transparent;
    border: none;
    font-size: 14px;
}

button {
    cursor: pointer;
}

body {
    width: 100vw;
    border: 4px solid transparent;
    height: 100vh;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(60, 60, 60, 0.5);
    overflow: hidden;
    padding: 0;
}
